* {
    padding: 0;
    margin: 0;
}
.header {
    padding: 30px;
    width: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header h3 {
    margin-top: 10px;
}

.container {
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.question {
    background-color: chocolate;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
}
.question-list {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.q-circle {
    background-color: khaki;
    padding: 10px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
}

.option-container {
    background-color: cornflowerblue;
    padding: 10px;
}
#option_target div{
    margin: 10px;
    margin-left: 50px;
}
.topic-container {
    display: flex;
    margin: 20px;
    width: 100% auto;
    justify-content: space-around;
    align-items: center;
}
.topic-container .topic{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 109, 138);
    transition: .7s;
    color: #fff;
    font-weight: 650;
    border-radius: 20px;
    cursor: pointer;
}
.line-next {
    border: 1px solid black;
    width: 15%
}
#submit {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
#submit input {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 0;
    background-color: chartreuse;
    color: white;
    font-weight: bold;
    transition: .7s;
}
#submit input:hover {
    background-color: green;
    cursor: pointer;
    touch-action: cross-slide-x;
}