/* Style for student-result.php */
body {
    padding: 0;
    margin: 0;
}
.result-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.result-body-container {
    width: 100%;
    margin-top: 13vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Styling elements created in script.js */
/* Whole div of one student record */
.student {
    display : flex;
    width : 100%;
    height: auto;
    justify-content: space-around;
    background-color: khaki;
}
.student div {
    margin: auto;
}
.even {
    background-color: khaki;
}
.odd{
    background-color: rgb(235, 218, 70);
}

/* slno of every Student record
.slno {

}
Student name, ID of every Student record
.user-details {

} */

/* Time div of every Student record */
.time-details {
    margin: auto;
    width: 150px;
    height: 100px;
}
/* Marks div of every Student record */
.marks-details {
    margin: auto;
    width: 150px;
    height: 100px;
}

/* Total Marks Div of every Student record */
/* .total-details {

}
Exam status of every Student record
.exam-status {

} */
.status-circle {
    padding: 10px;
    border: 1px solid green;
    background-color: green;
    border-radius: 10px;
    cursor: help;
}
.canvasjs-chart-credit {
    display: none;
}

.page-buttons {
    width: 30% unset;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.fd-button {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 0;
    background-color: yellowgreen;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: .6s;
}
.fd-button:hover {
    transform: scale(1.1);
}
.mbc-header-logo {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 100%;
    height: 13vh;
    background-color: rgba(0, 0, 0, 0.815);
}
.mbc-header-logo div {
    width: 50%;
    color: white;
    margin: 20px 30px;
}
#mbc-logo {
    z-index: inherit !important;
    filter: inherit !important;
    position: inherit;
    width: 75%;
}