* {
    padding: 0;
    margin: 0;
}
.header {
    padding: 30px;
    width: 100% auto;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header h3 {
    margin-top: 10px;
}

.container {
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.question {
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
}
.question-list {
    display: flex;
    width: inherit;
    padding: 10px;
    margin: 10px;
    align-items: center;
    overflow: auto;
}
.q-circle {
    background-color: #e93c3cc9;
    padding: 10px;
    width:300px;
    text-align: center;
    border-radius: 50px;
    transition: .7s;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}
.q-circle:hover {
    cursor: pointer;
}
.question-selected {
    background-color: #fff !important;
    border: 1px solid #e93c3cc9 !important;
    /* box-shadow: 0px 0px 10px black !important; */
    /* font-size: 20px; */
    font-weight: lighter;
    color: #000000;
    transform: scale(0.7);
}
.question-done {
    pointer-events: none !important;
    background-color: grey !important;
    border: none;
}
.option-container {
    background-color: #e93c3cc9;
    padding: 10px;
}
#option_target div{
    display: flex;
    width: 100% auto;
    align-items: center;
    margin: auto;
    padding: 10px;
    margin-left: 50px;
}
.topic-container {
    display: flex;
    margin: 20px;
    width: 100% auto;
    justify-content: space-around;
    align-items: center;
}
.topic{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    transition: .7s;
    color: #000000;
    font-weight: 650;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.topic:hover {
    background-color: #000000;
    color: #fff;
    box-shadow: 0px 0px 10px black !important;
}
.topic-selected {
    background-color: #000000  !important;
    color: #fff !important;
    box-shadow: 0px 0px 10px black !important;
}
.line-next {
    border: 1px #fff;
    width: 15%
}
#submit {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
#submit input {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 0;
    background-color: chartreuse;
    color: white;
    font-weight: bold;
    transition: .7s;
}
#submit input:hover {
    background-color: green;
    cursor: pointer;
    touch-action: cross-slide-x;
}

/* Style for question.html */
.q-container {
    background: url("https://mbcpeermade.com/userfiles/poster/1b97d750aa514ce1830cb183dab59107.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.q-head {
    width: 100% auto;
    text-align: center;
    margin: 60px 0px 50px 0px;
    font-size: 50px;
    font-weight: 750;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   
.start-field {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 50px 0px 50px 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px black;
    color: white;
}
.start-test {
    width: 100% auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.start-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100% auto;
    text-align: center;
    padding: 30px;
}
.start-button button {
    font-size: 25px;
    padding: 20px 40px 20px 40px;
    border-radius: 30px;
    border: 0;
    background-color: indigo;
    transition: .6s;
    font-weight: 600;
}
.start-button button a {
    text-decoration: unset;
    color: white;
}
.start-button button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.rules {
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    width: 100% auto;
    text-align: center;
}