/* Style for question.php */
* {
    padding: 0;
    margin: 0;
}
.timer{
    color:grey;
    background-color:white;
    border-radius: 0px;
    text-align: center;
    font-size: 30px;
    align-self: right;
    margin-top: 18px;
    margin-left: 92%;
    margin-right: 40px;
}
@keyframes hobble {
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.container {
    padding: 20px;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 1%;
}
.question-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 1%;
}
.question-container {
    margin: auto;
    width: 70vw;
    border: 1px solid #D5DBDB;
    border-radius: 20px 20px 20px 20px;
}
.question {
    background-color: #fff;
    color: gray;
    border: 1px solid #D5DBDB;
    border-radius: 20px 20px 0px 0px;
    font-size: 18px;
    padding: 10px;
    padding-left: 30px;
}
.question-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 16vw;
    height: 255px;
    padding: 10px 10px 10px 20px;
    margin: 10px;
    align-items: center;
    overflow: auto;
    border: 1px solid #D5DBDB;
    border-radius: 20px 20px 20px 20px;
}
.q-circle {
    padding: 5px;
    width: 22px;
    text-align: center;
    border-radius: 50%;
    transition: .5s;
    font-size: 18px;
    color: #32D4D6;
    border: 1px solid #32D4D6;
    margin: 5px;
}
.q-circle:hover {
    cursor: pointer;
}
.question-selected {
    background-color: #32D4D6 !important;
    border: 1px solid #32D4D6 !important;
    font-weight: lighter;
    color: #fff;
    transform: scale(1.1);
}
.question-done {
    pointer-events: none !important;
    background-color: #33CC66  !important;
    border: 1px solid #33CC66 ;
    color: white;
}
#ans {
    cursor: pointer;
}
.option-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}
#option_target div {
    display: flex;
    width: 100% auto;
    align-items: center;
    margin: auto;
    padding: 10px;
    padding-left: 50px;
    opacity: 1;
    transition: 0.5s;
}
#option_target div:hover{
    cursor: pointer;
    opacity: 0.9;
    font-weight: bold;
}
#option_target div span {
    padding: 6px;
    font-size: 18px;
}
#answer-selected {
    opacity: 0.9;
    font-weight: bold;
}
.topic-container {
    display: flex;
    flex-direction: row;
    width: 60% ;
    justify-content: space-between;
    align-items: center;
    margin-left: 7%;
}
.topic {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    transition: .7s;
    color: #32d4d6;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #32d4d6;
    border-radius: 10px;
    cursor: not-allowed;

}
.topic-selected {
    background-color: #32d4d6  !important;
    color: white !important;
    border: 1px solid #32d4d6;
}
.category-done {
    background-color: rgb(88, 88, 88)  !important;
    color: white !important;
    border: 1px solid #32d4d6;
}
.line-next {
    border: 1px #fff;
    width: 3%;
}
#submit {
    width: 100% auto;
    display: flex;
    flex-direction: row;
    padding-left: 24%;
    margin-top: 10px;
}
#submit input {
    font-family: 'PT Sans', sans-serif;
    padding: 10px 20px 10px 20px;
    border: 1px solid #32d4d6;
    background-color: white;
    color: #32d4d6;;
    border-radius: 10px;
    font-size: 18px;
    transition: .7s;
    outline: none;
}
#submit input:hover {
    background-color: #32d4d6 !important;
    color: white !important;
    border: 1px solid #32d4d6;
    cursor: pointer;
    font-weight: 250;
    font-size: 20px;
    touch-action: cross-slide-x;
}

/* Style for question.php */
.rules {
    padding: 30px;
}
.q-container {
    background: url("https://mbcpeermade.com/userfiles/poster/1b97d750aa514ce1830cb183dab59107.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.q-head {
    width: 100% auto;
    text-align: center;
    background-color: rgba(34, 32, 32, 0.603);
    margin: 60px 0px 50px 0px;
    font-size: 50px;
    font-weight: 750;
    font-family: 'Cinzel', serif;
    box-shadow: 0px 0px 60px black;
    padding: 20px;
    border-radius: 20px;
}   
.start-field {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 40px 40px 40px 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px black;
    color: white;
}
.start-test {
    width: 100% auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.start-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100% auto;
    text-align: center;
}
.start-button button {
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    border: 0;
    background-color: indigo;
    transition: .6s;
    font-weight: 600;
}
.start-button button a {
    text-decoration: unset;
    color: white;
}
.start-button button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.rules {
    font-family: monospace;
    font-size: 18px;
    width: 100% auto;
}