/* Style for student-result.php */
*{
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
.container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: url('https://mbcpeermade.com/userfiles/poster/1b97d750aa514ce1830cb183dab59107.jpg');
}
.header {
    height: 100px;
}
.body-container {
    width: 100% auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dashboard {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: flex-start;
    padding-top: 100px;
}
.dashboard div {
    width: 250px;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    display: flex;
    background-color: black;
    color: white;
    opacity: .7;
    transition: .7s;
}
.dashboard div:hover {
    cursor: pointer;
    opacity: .3;
}

/* Style for student-result.php */
.result-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.result-body-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Styling elements created in script.js */
/* Whole div of one student record */
.student {
    display : flex;
    width : 100%;
    height: auto;
    justify-content: space-around;
    background-color: khaki;
}
.student div {
    margin: auto;
}
.even {
    background-color: khaki;
}
.odd{
    background-color: rgb(235, 218, 70);
}

/* slno of every Student record
.slno {

}
Student name, ID of every Student record
.user-details {

} */

/* Time div of every Student record */
.time-details {
    margin: auto;
    width: 150px;
    height: 100px;
}
/* Marks div of every Student record */
.marks-details {
    margin: auto;
    width: 150px;
    height: 100px;
}

/* Total Marks Div of every Student record */
/* .total-details {

}
Exam status of every Student record
.exam-status {

} */
.status-circle {
    padding: 10px;
    border: 1px solid green;
    background-color: green;
    border-radius: 10px;
    cursor: help;
}
.canvasjs-chart-credit {
    display: none;
}

.page-buttons {
    width: 30% unset;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.fd-button {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 0;
    background-color: yellowgreen;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: .6s;
}
.fd-button:hover {
    transform: scale(1.1);
}

/* Style for editQuestions.php */
.question-container {
    width: 100% auto;
    padding: 20px;
}
.filter-container {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.topic-button {
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(25, 195, 25);
    color: white;
    transition: .7s;
    cursor: pointer;
}
.topic-button:hover {
    transform: scale(1.1);
}
.topic-selected {
    background-color: grey !important; 
}

.difficulty-options {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.difficulty-options button {
    padding: 5px;
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: green;
    cursor: pointer;
    transition: .7s;
}

.difficulty-options button:hover {
    transform: scale(1.1);
}

.question-div-container {
    display: flex;
    justify-content: center;
    padding : 10px 0px;
}
#float-edit-container {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.float-edit-container {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    margin: auto;
    position: fixed;
    background-color: black;
    opacity: 0.75;
    z-index: 2;
}

/* Modal Styles */
.modal {
    background-color: white;
    width: 500px;
    height: 400px;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    transition: .5s;
}
/* Pop-in & Pop-out animations */
@keyframes popIn {
    0% { transform: scale(.3); }
    70% { transform: scale(1.1); }
    80% { transform: scale(1.1); }
    100% { transform: scale(1); } 
}
@keyframes popOut {
    0% { transform: scale(1); }
    20% { transform: scale(1.1); }
    30% { transform: scale(1.1); }
    100% { transform: scale(0); } 
}

.edit-wrapper {
    display: flex;
}
.edit-btn-wrapper {
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.edit-btn-wrapper input {
    transition: .5s;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(216, 210, 210);
}
.edit-btn-wrapper input[type=button]:hover {
    background-color: rgb(209, 43, 43);
    color: white;
    transform: scale(1.1);
}
.edit-btn-wrapper input[type=submit]:hover {
    background-color: rgb(39, 206, 39);
    color: white;
    transform: scale(1.1);
}
.label-edit {
    width: 100px;
}
.field-edit {
    width: 250px;
}

.question-header {
    display: flex;
}
.question-list-heading {
    /* Add do not add or change width attribute of this class */
    /* All other attribute should have !important at end, Example - margin*/
    margin: auto !important;
}
.q-slno {
    width: 7%;
    margin: auto;
}
.q-question {
    width: 40%;
    margin: auto;
    padding: 10px;
}
.q-options {
    width: 15%;
}
.q-options div {
    padding: 5px 0px;
}
.q-answer {
    width: 10%;
    text-align: center;
    margin: auto;
}
.q-difficulty {
    width: 5%;
    padding: 10px;
    margin: auto;
}
.q-enteredby {
    width: 10%;
    padding: 10px;
    margin: auto;
}
.edit-btn {
    margin: auto;
    padding: 8px 10px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(73, 106, 255);
    color: white;
    cursor: pointer;
}
